/* Styles for screens up to 1200px */
@media screen and (max-width: 1200px) {
	#profile {
		display: block;
	}

	section {
		margin: 0 6%;
	}

	.banner {
		height: 49vh;
	}
}

/* Styles for screens up to 768px */
@media screen and (max-width: 768px) {
	#profile {
		height: 85vh;
		margin-bottom: 0;
		flex-direction: column;
		align-items: center;
	}

	.hamburger-nav {
		display: block;
	}

	/*Hamburger Menu Animation*/
	.hamburger-nav.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger-nav.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger-nav.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #f8f8f0;
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.nav-item {
		margin: 16px 0;
	}

	.nav-menu.active {
		left: 0;
	}

	.banner {
		height: 35vh;
	}

	.flex-container {
		flex-direction: column;
		gap: 1rem;
	}
}

/* Styles for screens up to 425px */
@media screen and (max-width: 425px) {
	.banner {
		height: 20vh;
	}
}

@media screen and (max-width: 375px) {
	.banner {
		height: 18vh;
	}
}

@media screen and (max-width: 320px) {
	.banner {
		height: 15vh;
	}
}

/* Styles for screens larger than 1200px */
@media screen and (min-width: 1301px) {
	.banner {
		height: 50vh;
	}
}

@media screen and (min-width: 1201px) {
	.banner {
		height: 60vh;
	}
}
