/* General Style*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: red solid 1px;*/ /* Uncomment to visualize the box model */
}

/* General Styles */
body {
	margin: 0 auto;
	font-family: "Poppins", sans-serif;
	background-color: #f8f8f0;
}

html {
	scroll-behavior: smooth;
}

p {
	color: rgb(85, 85, 85);
}

.banner {
	width: 100%;
	background-position: initial;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(https://raw.githubusercontent.com/erinmikaela/Erin-Esteban-Portfolio/14a7c3c66965b5d9776eddb5cd711f7eb349a3e7/assets/banner.svg);
	background-attachment: fixed;
}

/*Section*/
section {
	padding-top: 4vh;
	height: 100vh;
	margin: 0 10rem;
	box-sizing: border-box;
	min-height: fit-content;
}

/*Introduction Section*/
#introduction {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	margin: 0 auto;
}

.pic-container {
	border-radius: 50%;
	overflow: hidden;
}

.pic-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bio-section {
	text-align: left;
	max-width: 300px;
	margin-top: 6rem;
}

.bio-section p {
	font-size: 1rem;
	color: #666;
	border-bottom: 1px dotted #666;
	padding-bottom: 0.5rem;
}

.auth-name {
	max-width: 400px;
	margin-top: -6rem;
}

.auth-name h1 {
	font-size: 3rem;
	color: #362312;
	border-bottom: 1px dotted #666;
	font-family: 'Poppins';
}

.auth-name p {
	margin-top: 0.5rem;
}

/*Buttons*/
.cv-button {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	font-family: "Poppins", "sans-serif";
	background-color: #362312;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.cv-button:hover {
	background-color: #8b6441;
}

.github-button {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border: none;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(https://raw.githubusercontent.com/erinmikaela/Erin-Esteban-Portfolio/128ab08d00bfc32cc3e2f5741275f21446df03bd/assets/github-brands-solid.svg);
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-button:hover {
	transform: scale(1.05);
}

.email-button {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border: none;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(https://raw.githubusercontent.com/erinmikaela/Erin-Esteban-Portfolio/7fa981751ffde3393d7cb62c0b7df9d6dd431e68/assets/envelope-open-text-solid.svg);
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.email-button:hover {
	transform: scale(1.05);
}

.fb-button {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border: none;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(https://raw.githubusercontent.com/erinmikaela/Erin-Esteban-Portfolio/f94ed1b98d9a63a1834c71cc2d890e79d0d4ff76/assets/facebook-brands-solid.svg);
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.fb-button:hover {
	transform: scale(1.05);
}

.linkedin-button {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	border: none;
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(https://raw.githubusercontent.com/erinmikaela/Erin-Esteban-Portfolio/f94ed1b98d9a63a1834c71cc2d890e79d0d4ff76/assets/linkedin-brands-solid.svg);
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.linkedin-button:hover {
	transform: scale(1.05);
}
/*Skills Section*/
#skills {
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	padding-top: 7rem;
	margin: 0;
	height: 130vh;
}

#skills h2 {
	font-size: 2.5rem;
	color: #362312;
	text-align: left;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 1rem;
	border-top: 2px solid #8b64418c;
	padding-top: 0.5rem;
	padding-left: 2rem;
}

.chart-container {
    max-width: 1000px;
    height: 450px; /* Increased height for image labels */
    margin: 0 auto;
    padding: 2rem;
}

.chart-container canvas {
    max-width: 100%;
    height: auto;
    padding-bottom: 60px; /* Extra space for images and text */
}

/*Projects Section*/
#projects {
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	padding-top: 7rem;
	margin: 0;
	height: 390vh;
}

#projects h2 {
	font-size: 2.5rem;
	color: #362312;
	text-align: left;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 1rem;
	border-top: 2px solid #8b64418c;
	padding-top: 0.5rem;
	padding-left: 2rem;
}

.project-container {
	flex-direction: column;
	display: flex;
	gap: 2rem;
	padding: 2rem;
}

.project-card {
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	gap: 2rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
	font-size: 1.5rem;
	color: #362312;
}

.project-card div {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
}

.project-card img {
	width: 40%;
	height: 40%;
	border-radius: 10px;
	padding: 1rem 0;
}

.project-card video {
	width: 40%;
	height: 40%;
	padding: 1rem 0;
}

/*Experience Section*/
#experience {
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2rem;
	padding-top: 7rem;
	margin: 0;
	height: 220vh;
}

#experience h2 {
	font-size: 2.5rem;
	color: #362312;
	text-align: left;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 1rem;
	border-top: 2px solid #8b64418c;
	padding-top: 0.5rem;
	padding-left: 2rem;
}

.experience-container {
	flex-direction: column;
	display: flex;
	gap: 2rem;
	padding: 2rem;
}

.experience-card {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	gap: 2rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.experience-card h3 {
	font-size: 1.5rem;
	color: #362312;
}

/*Contact Section*/
#contact {
	padding: 2rem;
	background-color: #f8f8f0;
	gap: 2rem;
	padding: 2rem;
	padding-top: 7rem;
	margin: 0;
	height: 110vh;
}

#contact h2 {
	font-size: 2.5rem;
	color: #362312;
	text-align: left;
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border-top: 2px solid #8b64418c;
	padding-top: 0.5rem;
	padding-left: 2rem;
}

.contact-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 2rem;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
	margin-bottom: 1rem;
}

.form-container label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.form-container input,
.form-container textarea {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
}

.submit-button {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: #362312;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: "Poppins", sans-serif;
}

.submit-button:hover {
	background-color: #8b6441;
}

.social-media {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 1rem;
}

.social-icon img {
	width: 30px;
	height: 30px;
	transition: transform 0.3s ease;
}

.social-icon img:hover {
	transform: scale(1.1);
}

/*Header (Navigation Menus)*/
header {
	background-color: #f8f8f0;
	position: sticky;
	top: 0;
	z-index: 1000;
	transition: background-color 0.4s ease-in-out;
}

header.scrolled {
	background-color: #d6d5cf5b;
	opacity: 0.9;
	transition: background-color 0.4s ease-in-out;
}

li {
	list-style: none;
}

a {
	color: #362312;
	text-decoration: none;
}

/*Desktop Navigation*/
.desktop-nav {
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
	padding: 0 20px;
}

.nav-brand {
	display: flex;
	font-size: 2rem;
	padding: 0 20px;
}

.nav-logo {
	height: 100%;
	width: 100px;
}

.nav-link {
	transition: 0.7s ease;
}

.nav-link:hover {
	color: #8b6441;
}

/*Hamburger Menu*/
.hamburger-nav {
	display: none;
	cursor: pointer;
	padding: 0 20px;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: black;
}

/*Footer*/
footer {
	text-align: center;
	background-color: #f8f8f0;
	color: #666;
	width: 100%;
	bottom: 0;
}
